body {
    width: 80%;              /* 宽度 */
    margin: 0 auto;          /* 整个容器水平居中 */
    text-align: center;     /* 里面的文字居中 */
    padding: 20px;           /* 内边距 */
    background-color: black;
    font-family: 'burgess';
}
h1{
  background-color: red;
}
h2{
  color: yellow;
  background-color: blue;
}
@font-face {
    font-family: 'burgess-regular';
    src: url('burgess-regular.eot');
    src: url('burgess-regular.eot?#iefix') format('embedded-opentype'),
         url('burgess-regular.woff') format('woff'),
         url('burgess-regular.woff2') format('woff2'),
         url('burgess-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}