body {
    width: 80%;              /* 宽度 */
    margin: 0 auto;          /* 整个容器水平居中 */
    text-align: center;     /* 里面的文字居中 */
    padding: 20px;           /* 内边距 */
    background-color: black;
    text-align: center;
    
    font-weight: bold;
    font-family: "Silkscreen"
    }
h1{
  color: white;
  font-size: 80px;
}
h2{
  color: white;

  font-size: 10px;
}

a,
a:visited,
a:hover,
a:active {
    color: red;
}